<p>Users</p>


<table border="1">
    <thead>
        <tr>
            <th>Name</th><th>Color</th><th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{user.name}} </td>
            <td> {{user.color | uppercase}} </td>
            <td *ngIf="user.options.length != 0">
                <div *ngFor="let option of user.options">
                    <p>{{option}}</p>
                </div>
            </td>
            <td *ngIf="user.options.length == 0">
                No information available
            </td>
        </tr>
    </tbody>
</table>
